CCM.contents.defined [% CCM.contents.defined ? "YES" : "NO" %]
CCM.contents [% CCM.contents %]
[% # Test access to full contents via CCM.contents
     FOREACH p IN CCM.contents.pairs -%]
[%      p.key %] [% p.value %]
[%  END %]

ref [% CCM.ref(CCM.contents) %]
is_scalar [% CCM.is_scalar(CCM.contents) ? "YES" : "NO" %]
is_list [% CCM.is_list(CCM.contents) ? "YES" : "NO" %]
is_hash [% CCM.is_hash(CCM.contents) ? "YES" : "NO" %]
get_type [% CCM.contents.get_type %]
is_boolean [% CCM.contents.is_boolean ? "YES" : "NO" %]
is_string [% CCM.contents.is_string ? "YES" : "NO" %]
is_double [% CCM.contents.is_double ? "YES" : "NO" %]
is_long [% CCM.contents.is_long ? "YES" : "NO" %]
[% newpath = CCM.element.path.merge('x', 'y', 'z') %]
path [% CCM.element.path %]
newpath [% newpath %]
