stringification [% arbitrary %]
vmethod item [% arbitrary.item %]
[% al = arbitrary.list %]
vmethod list [% al.join('_') %]
[% ah = arbitrary.hash %]
vmethod hash [% ah.value %]
vmethod length [% arbitrary.length %]
vmethod size [% arbitrary.size %]
vmethod defined [% arbitrary.defined %]
[%# returns the maches as list; 1 is for global %]
vmethod match [% arbitrary.match('a', 1).join('_') %]
vmethod search [% arbitrary.search('^arb') %]
vmethod repeat [% arbitrary.repeat(3) %]
[%# replace supports backref, final 1 is for global %]
vmethod replace [% arbitrary.replace('(a)(r)','$2_$1', 1) %]
vmethod remove [% arbitrary.remove('a')  %]
vmethod split [% arbitrary.split('a').join('_')  %]
vmethod chunk [% arbitrary.chunk(4).join('_')  %]
vmethod substr [% arbitrary.substr.substr(6,4) %]
[%# custom vmethods %]
vmethod get_type [% arbitrary.get_type %]
vmethod get_value [% arbitrary.get_value %]
vmethod is_boolean [% arbitrary.is_boolean ? "YES" : "NO" %]
vmethod is_string [% arbitrary.is_string ? "YES" : "NO" %]
vmethod is_double [% arbitrary.is_double ? "YES" : "NO" %]
vmethod is_long [% arbitrary.is_long ? "YES" : "NO" %]
[%# more tests %]
true get_type [% true.get_type %]
true get_value [% true.get_value %]
true is_boolean [% true.is_boolean ? "YES" : "NO" %]
true is_string [% true.is_string ? "YES" : "NO" %]
true is_double [% true.is_double ? "YES" : "NO" %]
true is_long [% true.is_long ? "YES" : "NO" %]
true value [% true ? "YES" : "NO" %]
false get_type [% false.get_type %]
false get_value [% false.get_value %]
false is_boolean [% false.is_boolean ? "YES" : "NO" %]
false is_string [% false.is_string ? "YES" : "NO" %]
false is_double [% false.is_double ? "YES" : "NO" %]
false is_long [% false.is_long ? "YES" : "NO" %]
false value [% false ? "YES" : "NO" %]
double get_type [% double.get_type %]
double get_value [% double.get_value %]
double is_boolean [% double.is_boolean ? "YES" : "NO" %]
double is_string [% double.is_string ? "YES" : "NO" %]
double is_double [% double.is_double ? "YES" : "NO" %]
double is_long [% double.is_long ? "YES" : "NO" %]
double value [% double %]
double value+1 [% double + 1 %]
double 1+value [% 1 + double %]
double value-1 [% double - 1 %]
double 1-value [% 1 - double %]
double value*3 [% double * 3 %]
double 3*value [% 3 * double %]
double value/3 [% double / 3 %]
double 4.5/value [% 4.5 / double %]
long get_type [% long.get_type %]
long get_value [% long.get_value %]
long is_boolean [% long.is_boolean ? "YES" : "NO" %]
long is_string [% long.is_string ? "YES" : "NO" %]
long is_double [% long.is_double ? "YES" : "NO" %]
long is_long [% long.is_long ? "YES" : "NO" %]
long value [% long %]
long value+1 [% long + 1 %]
long 1+value [% 1 + long %]
long value-1 [% long - 1 %]
long 1-value [% 1 - long %]
long value*3 [% long * 3 %]
long 3*value [% 3 * long %]
long value/4 [% long / 4 %]
long 4.5/value [% 4.5 / long %]
long + double [% long + double %]
long * double [% long * double %]
long - double [% long - double %]
double / long [% double / long %]
long > 1 [% long > 1 ? "YES" : "NO" %]
[%# In TT == is string compare; and there's no eq %]
long == 2 [% long == 2 ? "YES" : "NO" %]
long == "2" [% long == "2" ? "YES" : "NO" %]
3 > double [% 3 > double ? "YES" : "NO" %]
double == 1.5 [% double == 1.5 ? "YES" : "NO" %]
double == "1.5" [% double == "1.5" ? "YES" : "NO" %]
long > double [% long > double ? "YES" : "NO" %]
double > long [% double > long ? "YES" : "NO" %]


