stringification [% arbitrary %]
vmethod item [% arbitrary.item %]
[% al = arbitrary.list %]
vmethod list [% al.join('_') %]
[% ah = arbitrary.hash %]
vmethod hash [% ah.value %]
vmethod length [% arbitrary.length %]
vmethod size [% arbitrary.size %]
vmethod defined [% arbitrary.defined %]
[%# returns the maches as list; 1 is for global %]
vmethod match [% arbitrary.match('a', 1).join('_') %]
vmethod search [% arbitrary.search('^arb') %]
vmethod repeat [% arbitrary.repeat(3) %]
[%# replace supports backref, final 1 is for global %]
vmethod replace [% arbitrary.replace('(a)(r)','$2_$1', 1) %]
vmethod remove [% arbitrary.remove('a')  %]
vmethod split [% arbitrary.split('a').join('_')  %]
vmethod chunk [% arbitrary.chunk(4).join('_')  %]
vmethod substr [% arbitrary.substr.substr(6,4) %]
[%# custom vmethods %]
vmethod get_type [% arbitrary.get_type %]
vmethod is_boolean [% arbitrary.is_boolean ? "YES" : "NO" %]
vmethod is_string [% arbitrary.is_string ? "YES" : "NO" %]
vmethod is_double [% arbitrary.is_double ? "YES" : "NO" %]
vmethod is_long [% arbitrary.is_long ? "YES" : "NO" %]


